.header {
  width: 1440px;
  height: 133px;
}
.rose {
  position: absolute;
  width: 395.83px;
  height: 37.53px;
  left: 63.58px;
  top: 52.54px;
}
.group12 {
  position: absolute;
  width: 1315.42px;
  height: 40.46px;
  left: 63.58px;
  top: 52.54px;
}
.group12 p {
  font-family: New York Small;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.blog {
  position: absolute;
  width: 66px;
  height: 34px;
  left: 936px;
  top: 59px;
}
.links {
  position: absolute;
  width: 71px;
  height: 34px;
  left: 1151px;
  top: 59px;
}
.ptojects {
  position: absolute;
  width: 121px;
  height: 34px;
  left: 1258px;
  top: 59px;
}
.about {
  position: absolute;
  width: 84px;
  height: 34px;
  left: 1033px;
  top: 59px;
}
.line {
  position: absolute;
  width: 66px;
  height: 0px;
  left: 936px;
  top: 134px;
}
.rectangle {
  position: absolute;
  width: 1440px;
  height: 133px;
  left: 0px;
  top: 0px;
}
.pictures2 {
  position: absolute;
  width: 854px;
  height: 533px;
  left: 293px;
  top: 210px;
}
.text {
  position: absolute;
  width: 858px;
  height: 162px;
  left: 293px;
  top: 787px;
  font-family: New York Extra Large;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 100%;
  text-align: center;
}
.text2 {
  position: absolute;
  width: 592px;
  height: 68px;
  left: 424px;
  top: 981px;
  font-family: SF Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
}
.line3 {
  position: absolute;
  width: 640px;
  height: 0px;
  left: 400px;
  top: 1083px;
}
.text3 {
  position: absolute;
  width: 225px;
  height: 53px;
  left: 608px;
  top: 1147px;
  font-family: New York Extra Large;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 53px;
  text-align: center;
}
.pictures3 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 402px;
  top: 1239px;
}
.text4 {
  position: absolute;
  width: 262px;
  height: 78px;
  left: 423px;
  top: 1435px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
}
.pictures4 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 734px;
  top: 1239px;
}
.text5 {
  position: absolute;
  width: 262px;
  height: 78px;
  left: 755px;
  top: 1435px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
}
.pictures5 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 402px;
  top: 1577px;
}
.text6 {
  position: absolute;
  width: 262px;
  height: 52px;
  left: 423px;
  top: 1773px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
}
.pictures6 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 734px;
  top: 1577px;
}
.text7 {
  position: absolute;
  width: 262px;
  height: 78px;
  left: 755px;
  top: 1773px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
}
.pictures7 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 402px;
  top: 1915px;
}
.text8 {
  position: absolute;
  width: 262px;
  height: 78px;
  left: 423px;
  top: 2111px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
}
.pictures8 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 734px;
  top: 1915px;
}
.text9 {
  position: absolute;
  width: 262px;
  height: 52px;
  left: 755px;
  top: 2111px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
}
.pictures9 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 402px;
  top: 2253px;
}
.text10 {
  position: absolute;
  width: 262px;
  height: 52px;
  left: 423px;
  top: 2449px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
}
.pictures10 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 734px;
  top: 2253px;
}
.text11 {
  position: absolute;
  width: 262px;
  height: 26px;
  left: 755px;
  top: 2449px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
}
.pictures11 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 402px;
  top: 2565px;
}
.text12 {
  position: absolute;
  width: 262px;
  height: 26px;
  left: 423px;
  top: 2761px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
}
.pictures12 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 734px;
  top: 2565px;
}
.text13 {
  position: absolute;
  width: 262px;
  height: 78px;
  left: 755px;
  top: 2761px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
}
.pictures13 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 402px;
  top: 2903px;
}
.text14 {
  position: absolute;
  width: 262px;
  height: 78px;
  left: 423px;
  top: 3099px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
}
.pictures14 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 734px;
  top: 2903px;
}
.text15 {
  position: absolute;
  width: 262px;
  height: 104px;
  left: 755px;
  top: 3099px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
}
